header {
    padding: 1.25rem;
}

header h4 {
    display: inline;
}

#difficultyChooser span {
    font-weight: 500;
    display: inline-block;
    padding: .75rem 1.75rem;
}

#difficultyChooser span:hover {
    background-color: #0275d8;
    color: white;
    cursor: pointer;
}

.selectedDifficulty {
    background-color: #0275d8;
    color: white;
}

.container {
    margin-top: 5%;
}

.row {
    margin: 2.5% 0;
}

.col-4 {
    height: 330px;
    border: 2rem transparent;
}

.colorBlock {
    width: 99.5%; /*can be in percentage also.*/
    height: 99%;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    border-radius: 4rem;
}

.colorBlock:hover {
    cursor: pointer;
}