header {
    padding: 1.25rem;
}

h4 {
    display: none;
}

#difficultyChooser span {
    font-weight: 500;
    display: inline-block;
    padding: .75rem 1.75rem;
}

#difficultyChooser span:hover {
    background-color: #0275d8;
    color: white;
    cursor: pointer;
}

.selectedDifficulty {
    background-color: #0275d8;
    color: white;
}

#color {
    background-color: #0275d8;
    color: white;
}

.container {
    margin-top: 3.5%;
}

.row {
    margin: 2.5% 0;
}

.col-4 {
    height: 33vh;
    border: 2rem transparent;
}

.colorBlock {
    width: 99.5%;
    /*can be in percentage also.*/
    height: 99%;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    border-radius: 4rem;
}

.colorBlock:hover {
    cursor: pointer;
}

#info hr {
    border-width: 2px;
    margin: 1.5rem 0;
}

#info p {
    font-size: 1.25rem;
    font-weight: 500;
}

#playAgain {
    margin-top: .5rem;
    outline: none;
    background-color: white;
    border: 2px solid #0275d8;
    border-radius: 2rem;
    padding: .125rem .65rem;
}

#playAgain:hover {
    color: white;
    background-color: #0275d8;
}

#play-again-menu {
    display: none;
}

@media (max-width: 420px) {
    .col-4 {
        height: 6rem;
    }
    .colorBlock {
        width: 6rem;
        border-radius: 2rem;
    }
    header {
        padding: .75rem 0;
    }
    header h1 {
        font-size: 1.75rem;
    }
    #info p {
        font-size: 1.245rem;
    }
}